.links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links {
   display: flex;
   justify-content: stretch;

   text-decoration: none;
   background-color: #302035;
}

.link {

  text-decoration: none;
  text-align: center;
  width: 33%;
  position: relative;
  color: #333;
  margin: 10px 0;
  /* padding-bottom: 2px;  */
}

.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Толщина линии */
  bottom: -8px;
  left: 0;
  background-color: #78bb4d;
  transition: width 0.2s ease; /* Плавность */
}

.link.active{
  text-decoration: none;
  color: white;

}
.link:hover::before {
  width: 100%; /* Линия растягивается */
}

.link-active{

  color: rgb(255, 255, 255);
  text-decoration: none;
}

.link-active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #e1a028;

}


a {
    color: #b0a4a7;
    text-decoration: none;
}

 a.active {
    color: #ffffff;
} 

.a {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}