.new_card_header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0 0 15px;
    border-bottom: 1px solid rgb(164, 164, 164);
    /* list-style: none; */
}

.link-active {
    text-decoration: none;
}

.link_img {
    margin-right: 20px;
    padding-left: 30px;
    padding-top: 2px;
    line-height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}

.link_img:hover {
    color: rgb(66, 87, 158);
}

.publication {
    background-image: url('src/assets/publication.svg');
}

.photo {
    background-image: url('src/assets/photo.svg');
}

.broadcast {
    background-image: url('src/assets/broadcast.svg');
}

.more {
    background-image: url('src/assets/more.svg');
}

.x {
    align-items: self-end;
    width: 20px;
    height: 20px;
    margin-left: auto;
    background-image: url('src/assets/xx.svg');
    background-size: 20px;
}

.x:hover {
    background-position: 0 -21px;
}

.new_card_content {
    display: flex;
}

.user_photo_new {
    width: 50px;
    height: 50px;
}

.footer {
    display: flex;
    padding: 10px;
    background-color: rgb(230, 230, 230);
}

.card_wrp .footer {
    justify-content: right;
    margin: 0 -20px -20px;
}

.new_card_footer .click {
    margin-left: auto;
}